.messages
  div.alert.alert-small.alert-danger.alert-dismissible(role="alert")
    button.close(type="button" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;
    each type in Object.keys(messages)
      ul.type.center-text
        each message in messages.error
          li= message
