extends layout

block content  
  if session.logged_in
    h1 #{session.user_name}
  else
    h1 Log in ya dingus
  p #{title}
  div.testcolor
    div.row
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
    div.row
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
      div.col-sm-2
        img.test(src= "http://i.imgur.com/UB9rTcS.gif")
