extends layout


block content  
  include ./nav.jade
  div.col-md-2
  div.col-md-8
    if session.logged_in
      h1 #{session.user_name}
    else
      h1 Log in ya dingus
    div.testcolor
      if images
        div.row
          each image, index in images
            - temp = (index) % 7
            if (temp != 0)
              div.col-sm-2
                img.test(src= "/images/" + image.pic_name)
            else
              div.row
  
  div.col-md-2
