extends layout

block content  
    h1
      |asdfafsdfads
    p Welcome to #{title}
    div.testcolor
      div.row
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
      div.row
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
        div.col-sm-2
          img.test(src= "http://i.imgur.com/3apFmcz.jpg")
      div.row
        each val in #{data}
          val
