doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/js/bootstrap.js')
  body
    include ./nav.jade
    div.col-md-2
    div.col-md-8.container
      block content
    div.col-md-2
