doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/js/jquery-2.2.0.js')
  body
    //- include ./nav.jade
    //- div.col-md-2
    //- div.col-md-8
    block content
    //- div.col-md-2
    script(type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js")
    script(src='/js/bootstrap.js')
    script(src='/js/jquery/validate_password.js')
