.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') SDP
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        if session.logged_in == 1
          li
            a(data-toggle="modal", href="#upload_image") Upload
          li
            a(href='./chat') Word Cloud
      ul.nav.navbar-nav.navbar-right
        li
          if session.logged_in != 1
            a(href='./login') Login
          else
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.glyphicon.glyphicon-user(aria-hidden="true")
                span.caret
              ul.dropdown-menu(role='menu')
                li.dropdown-header Signed in as 
                  b #{session.user_name}
                li.divider
                li
                  a.dropdown-sexy(href='./profile') Profile
                li.divider
                li
                  form(id="logout" action="/logout" method="post")
                    button.btn.btn-link.dropdown-sexy(type="submit") Logout
    .modal.fade(id="upload_image" tabindex="-1" role="dialog" aria-labelledby="upload_imageLabel" aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            if session.user_name
              h1.upload_imageLabel.modal-title 
              | Upload an image for #{session.user_name}
            else 
              h1.upload_imageLabel.modal-title 
              | Upload an image for whoever you are...
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          .modal-body
            form(action="/upload", method="post", enctype="multipart/form-data")
              div.input-group.input-group
                span.input-group-addon.btn.btn-primary.btn-file
                  span.glyphicon.glyphicon-upload
                    input(type="file" name="upl" multiple="" accept="image/*")
                input.form-control(id="upload-local" type="text" placeholder="Upload local file" aria-describedby="sizing-addon1" readonly="")
              b -OR- 
              div.input-group.input-group
                span.input-group-addon 
                  span.glyphicon.glyphicon-globe
                input.form-control(id="upload-url" name="upload_url" type="text" placeholder="Paste URL Here" aria-describedby="sizing-addon1")
              br
              button.btn.btn-primary.btn-sm(type="submit" name="submit") Submit

  script(type="text/javascript").
    $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      $('#upload-local').val(label);
      $('#upload-url').val('');
    });
  script(type="text/javascript").
    $('#upload-url').on('change keyup', function () {
      $('#upload-local').val('');
    });
