.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') SDP
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(data-toggle="modal", href="#upload_image") Upload
      ul.nav.navbar-nav.navbar-right
        li
          if session.logged_in != 1
            a(href='./login') Login
          else
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.glyphicon.glyphicon-user(aria-hidden="true")
                span.caret
              ul.dropdown-menu(role='menu')
                li.dropdown-header Signed in as 
                  b #{session.user_name}
                li.divider
                li
                  a.dropdown-sexy(href='#') Profile
                li.divider
                li
                  form(id="logout" action="/logout" method="post")
                    button.btn.btn-link.dropdown-sexy(type="submit") Logout
    .modal.fade(id="upload_image" tabindex="-1" role="dialog" aria-labelledby="upload_imageLabel" aria-hidden="true")
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            if session.user_name
              h1 #{session.user_name}
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.upload_imageLabel.modal-title 
            | Upload an image
          .modal-body
            form(action="/upload", method="post", enctype="multipart/form-data")
              input(type="file" name="upl" accept="image/*")
              button.btn.btn-primary.btn-sm(type="submit" name="submit") Submit
            //- span.glyphicon.glyphicon-globe.glyphicon-lg.btn-file.navbar-icon
            //-   input(type="file")
            //- span.glyphicon.glyphicon-upload.glyphicon-lg.btn-file.navbar-icon
            //-   input(type="file")
  //- if session.logged_in && session.logged_in == 1
  //-   script(type="text/javascript").
  //-     $(window).load(function(){
  //-       $('#create_account').modal('show');
  //-     });
